body, html{
  font-family: 'M PLUS Rounded 1c', sans-serif;
  background: rgba(255, 140, 0, 1);
  text-align: left;
  max-width: 50em;
  margin: 1em auto;
  line-height: 1.6;
  font-size: 16px;
}
h1, h2, h3{
  text-align: center;
}

.center{
  text-align: center;
}
.profilePic{
  content: url('../assets/profilePicture.jpg');
  border-radius: 50%;
  width: 250px;
  align-content: center;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: black;
  transition: transform 1s;
  
}
.profilePic:hover{
  content: url('../assets/basketball.png');
}

.icons{
  display: inline-block;
  text-align: center;
}
.icon{
  width: 25px;
  height: 25px;
  display: inline;
  margin: 0px;
  padding: 0px;
  vertical-align:middle;
  transition: transform .2s;


}
.icon:hover{
  transform: scale(1.5);
}
.container{
  display: inline-block;
  width: 100px;
  height: 50px;

}
.contentContainer{
  text-align: c
}
.date{
  float: right;
  font-weight: normal;
}
.labels{
  margin-top: 30px;
  margin-bottom: 30px;
}
