body, html{
	display: flex;
	margin: 0 auto;
	font-family: 'M PLUS Rounded 1c', sans-serif;
  background: linear-gradient(to bottom, rgba(255, 160, 122, 1) 0%, rgba(255, 140, 0, 1) 100%);
  align-items: center;
  justify-content: center;
  padding: 0px;

	}

.profilePic{
	width : 86%;
	border-radius: 50%;
  height: auto;
  display: block
}
.name{
	font-family: 'Roboto Slab', serif;
}
.left, .right {
  margin: 5px;
  max-width: 50%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left {
  align-items: center;
  justify-content: center;
}

.wrapper {

  max-width: 100%;
  display: flex;
  flex-direction: row;
  height: 80%;
}
.icons{
	height: 50px;
	width: 50px;
  list-style: none;
  padding-left: 0px;
  display: inline;
  float: left;

}
.logos{
	font-size: 50px;
  display: inline;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  opacity: 1;
}
.container {
  position: relative;
  width: 50%;
}
.basketball{
	width : 300px;
	border-radius: 50%;
	position: absolute;
	align-items: center;
  justify-content: center;
}
div img{ display: inline;}
.icons{
   transition: transform .3s
}
.icons:hover{
  transform: scale(1.30);

}


